@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root{
    --succes-color: #2ecc71;
    --error-color: #e74c3c;
    --primary-color: rgb(74, 194, 23);
}

*{
    box-sizing: border-box;
}

body{

    background-color: #ededed;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px;
}

.container {
    width: 100%;
    background: rgb(255, 255, 255);
        margin: 20px;
        border-radius: 20px;
}

form {
    background-color: #fff;
    border-radius: 5px;
}

h2{
    text-align: left;
        margin: 40px;
}


.form{
    padding: 10px 20px;
    margin-bottom: 20px;
}

.fields {
    margin-bottom: 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color:#777;
    display: block;
    margin-bottom: 5px; 
}
 
.form-control input
{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;   
}

.form-control input:focus{
    outline: 0;
    border-color: #777;

}

.form-control.error input {
    border: 1px solid rgb(255, 125, 125);
    background-color: #df92892f;    
}

.form-control small{
    color: var(--error-color);
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}
.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-top:20px;
    width:100%;
}
.fields label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(133, 133, 133);
}

.form .next-btn,
.form .previous-btn {
    background: var(--primary-color);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100px;
}

.form .buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.form {
    position: relative;
}

.form3>.fields>.field-row {
    display: flex;
    margin-bottom: -40px;
}

.form3>.fields>.field-row>label {
    margin: 20px;
    width: 150px;
}

.form3>.fields>.field-row>.form-control {
    margin: 20px;
}

.form3>.fields>.field-row>.form-control>input {
    width: 200px;
}

#step_4 {
    text-align: center;
}

.boxes {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.box {
    background: rgba(227, 241, 228, 0.55);
    color: #777;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-area {
    color: #777;
    margin: 100px 0;
}

.text-area a {
    color: var(--primary-color) !important;
    }
    
    .indicator {
        width: 800px;
        margin: 0 auto;
        text-align: center !important;
    }
    
    .indicator>.steps {
        display: flex;
        justify-content: center !important;
        gap: 200px;
    }
    
    .indicator>.steps>.step {
        width: 50px;
        height: 50px;
        background: rgb(250, 250, 250);
        color: var(--primary-color);
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        z-index: 9999;
    }
    
    .indicator>#progress-bar {
        position: relative;
        bottom: 27px;
        left: 0;
        background: rgb(213, 213, 213);
        width: 100%;
        height: 5px;
        margin-bottom: 40px;
    }
    
    #progress {
        width: 0;
        height: 100%;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .indicator>.steps>.active {
        background: var(--primary-color);
        color: white;
    }

.indicator>.steps>.inactive {
    background: rgb(250, 250, 250);
    color: var(--primary-color);
}


/* ---------Grid view--------- */

/* Form 1 */
.firstname {
    grid-area: firstname;
}

.lastname {
    grid-area: lastname;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.address {
    grid-area: address;
}

.form1>.fields {
    display: grid;
    grid-template-areas:
        'firstname lastname'
        'email email'
        'phone phone'
        'address address'
    ;
    gap: 10px;
    padding: 10px;
}

/* Form 2 */
.company_name {
    grid-area: company_name;
}

.compay_email {
    grid-area: compay_email;
}

.compay_phone {
    grid-area: compay_phone;
}

.position {
    grid-area: position;
}

.form2>.fields {
    display: grid;
    grid-template-areas:
        'company_name'
        'compay_email'
        'compay_phone'
        'position'
    ;
    gap: 10px;
    padding: 10px;
}


/* ===================================== RESPONSIVENESS ========================================== */

/* Extra Small <= 800px */
@media screen and (max-width: 800px) {
    .form1>.fields {
        display: grid;
        grid-template-areas:
            'firstname'
            'lastname'
            'email'
            'phone'
            'address'
        ;
        gap: 10px;
        padding: 10px;
    }
        .indicator {
            width: 400px;
        }
    
        .indicator>.steps {
            gap: 100px;
        }
        }
    
        /* Extra Small <= 480px */
        @media screen and (max-width: 480px) {
    
            .indicator {
                width: 300px;
            }
    
            .indicator>.steps {
                gap: 50px;
            }
}